.header {
    background-image: url(slike/pozadina.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 120px 0px 100px;
    color: white;
    text-align: center;
    height: 250px;
    position: relative;
}
#date {
    text-align: left;
    font-size: x-large;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    left: 60px;
  }
.refreshDugme {
  background-image: url(slike/refresh.png);
  background-repeat: repeat;
  background-size: 35px;
  position: absolute;
  top: 20px;
  right: 20px;
  height: 35px;
  width: 35px;
}
.refreshDugme:hover{
  cursor: pointer;
  text-shadow: 1px 3px 5px #000;
  transform: rotate(45deg);
}

/* sadržaj liste */
.sadrzajListe {
  max-height: 350px;
  overflow: auto;
  background-color: rgb(218, 218, 218);
}
.sadrzajListe ul {
  margin: 0;
  padding: 0;
}
.stavka {
  min-height: 80px;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.stavka i.uradjeno{
  background-image: url(slike/circle.png);
  background-repeat: no-repeat;
  background-size: 35px;
  position: absolute;
  padding-left: 5px;
  left: 15px;
  top: 23px;
  height: 35px;
  width: 35px;
}
.stavka i.uradjeno:hover {
  cursor: pointer;
}
.stavka p.text{
  position: absolute;
  font-size: 23px;
  left: 70px;
  padding-top: 0px;
  margin-top: 25px;
  background-color: #d9d9d9;
  max-width: 285px;
}
#lineThrough {
  text-decoration: line-through;
  color: white;
}
.stavka i.obrisiStavku{
  background-image: url(slike/trash.png);
  background-repeat: no-repeat;
  background-size: 35px;
  position: absolute;
  font-size: 25px;
  right: 15px;
  width: 35px;
  height: 35px;
  top: 23px;
}
.stavka i.obrisiStavku {
  cursor: pointer;
}

/*unos stavki*/
.unos {
  position: absolute;
  width: 99%;
  display:flex;
  flex-direction:row;
  border:1px solid grey;
  height: 70px;
  background-color: white;
  bottom: 20px;
}
.unos i.dodajStavku {
  background-image: url(slike/plusCircle.png);
  background-size: 40px;
  background-repeat: no-repeat;
  position: absolute;
  right: 40px;
  padding-right: 10px;
  top: 15px;
  height: 40px;
  width: 40px;
}
.unos i.dodajStavku:hover{
  cursor: pointer;
}
.unos input {
  width: 100%;
  height: 100%;
  bottom: 20px;
  font-size: 20px;
  padding-left: 15px;
}

